<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Inflation Research Tool for Economists</title>
    <!--<link rel='icon' href="OPTIONAL put some kind of icon here"/>-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' type="text/css" href="../static/style.css">
    <link rel="stylesheet" href="https://uicdn.toast.com/chart/latest/toastui-chart.min.css" />
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
            <h1>Inflation Research Tool for Economists</h1>
        </div>
        <br/>
        <br/>
        <!-- <div class="container"> -->
        <div class="row">
            <div class="col-md-7">
                <div class="row">
                    <h3>Add up to 5 series to analyze long-term trends</h3>
                    <!-- <br/> -->
                    <!-- <p>Placeholder for Line Chart</p> -->
                </div>
                <div class="row">
                    <div id="area-datetime"></div>
                    <!-- <img class="index_image1" src='assets/btc_v_ndaq.png' width="90%"> -->
                </div>
                <div class="row">
                    <!-- <div id="filter-container"> -->
                        <div class="col-md-5">
                            <div class="row">
                                <h3>Select Series:</h3>
                            </div>
                        <ul class="dropdown-data-selectors">
                            <li>
                                <div class="well">
                                    <h5>Series 1:    <select id="selDataset1"></select></h5>
                                    <!-- <select id="selDataset1"></select> -->
                                </div>
                            </li>
                            <li>
                                <div class="well">
                                    <h5>Series 2:    <select id="selDataset2"></option></select></h5>
                                    <!-- <select id="selDataset2"></select> -->
                                </div>
                            </li>
                            <li>
                                <div class="well">
                                    <h5>Series 3:    <select id="selDataset3" selected="3"></select></h5>
                                    <!-- <select id="selDataset3"></select> -->
                                </div>
                            </li>
                            <li>
                                <div class="well">
                                    <h5>Series 4:    <select id="selDataset4" selected="4"></select></h5>
                                    <!-- <select id="selDataset4"></select> -->
                                </div>
                            </li>
                            <li>
                                <div class="well">
                                    <h5>Series 5:    <select id="selDataset5" selected="5"></select></h5>
                                    <!-- <select id="selDataset5"></select> -->
                                </div>
                            </li>
                    <!-- </div>         -->
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class=row>
                    
                    <!-- <br/>
                    <br/> -->
                    <!-- <p>Placeholder for Scatter plot</p> -->
                    <!-- <div class="row"> -->
                        <h3>Compare Two Series</h3>
                </div>
                    <!-- </div> -->
                    <!-- <br/>
                    <br/> -->
                <div class="row">
                    <div id="scatter">
                            
                    </div>
                </div>
                <div class="row">
                    <div class="column-md-6">
                        <div class="row">
                            <div class="well">
                                <h5>Scatter 1:    <select id="selDataset6"></select></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="well">
                                <h5>Scatter 2:    <select id="selDataset7"></select></h5>
                            </div>
                        </div>
                    </div>
                    <div class="column-md-2">
                        <p>                                                   </p>
                    </div>
                    <div class="column-md-4">
                        <div class="row">
                            <div class="well">
                                <h5><select id="selDataset8"></select></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="well">
                                <h5><select id="selDataset9"></select></h5>
                            </div>
                        </div>
                    </div>
                </div>
                <br/>
                <br/>
                <div class="row">
                    <!-- <div class="row"> -->
                        <h3>Correlation of Scatter</h3>
                    <!-- </div> -->
                    <br/>
                    <br/>
                    <div class="row">
                        <div id="gauge">

                        </div>
                        <!-- <img class="index_image1" src='assets/btc_v_ndaq.png'> -->
                    </div>
                </div>
            </div>
        </div>
        <br/>
        <br/>
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div id="table-area" class="">
                    <table id="index-table" class="table table-striped">
                        <thead>
                            <tr>
                                <th style="background-color: white" class="table-head">Index</th>
                                <th style="background-color: white" class="table-head">Series Name</th>
                                <th style="background-color: white" class="table-head">Units</th>
                                <th style="background-color: white" class="table-head">Interval</th>
                                <th style="background-color: white" class="table-head">Start</th>
                                <th style="background-color: white" class="table-head">End</th>
                            </tr>
                        </thead>
                        <tbody>
      
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- </div> -->
    </div>    
    
    <script src="https://d3js.org/d3.v5.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/react-apexcharts"></script> -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
    <script src="https://uicdn.toast.com/chart/latest/toastui-chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script type="text/javascript" src="../static/logic.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script> -->

</body>
</html>